.scatterplotWrapper {
    display: flex; /* Posiziona i contenuti fianco a fianco */
    justify-content: space-around; /* Spazia uniformemente i contenuti */
    align-items: center; /* Allinea verticalmente */
    padding: 20px; /* Opzionale: aggiungi padding intorno */
}

.scatterplotDivContainer {
    width: 45%; /* Rende i grafici più piccoli per adattarsi */
    height: 500px;
    position: relative;
}